<div class="container-fluid px-4">
    <h1 class="mt-4">{{page}}</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">{{page}}</li>
    </ol>

    <h3>Address Form POST</h3>
    <form [formGroup]="addressDetailFormGroup" (ngSubmit)="onSubmitAddress()">
        <input type="text" class="form-control" formControlName="country" placeholder="Enter Country Name" name="country" id="">
        <input type="text" class="form-control" formControlName="state" placeholder="Enter State" name="state" id="">
        <input type="text" class="form-control" formControlName="street" placeholder="Enter Street" name="street" id="">
        <div class="">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>